@(analysis:models.PageAnalysis)

@main("Hello DataFlex") {

<div class="jumbotron text-center">
  <div class="container">
    <!--<a href="/" class="lang-logo">
      <img src="@routes.Assets.at("images/lang-logo.png")">
    </a>-->
    <h1>DataFlex WebApp Security Scanner</h1>
    <p>Analyze your WebApps! Are they secure?</p>
  </div>
</div>
<div class="container">
    <h1>Results for @analysis.url</h1>
    <h2>Checks</h2>
    <table  class="table table-condensed table-striped">
    @for(check <- analysis.getResults){
    <tr class="@{check.getState match{
        case models.State.Okay => "success"
        case models.State.Warn => "warning"
        case models.State.Danger => "danger"
        case _ => "info"
    }}">
        <td>@check.getTitle</td>
        <td>@check.getDescription</td>
        <td>@check.getResult</td>
    </tr>
    }
    </table>
    <h2>Before executing JavaScript</h2>
    <div class="row">
        <div class="cold-md-6">
        <pre class="pre-scrollable">
@analysis.pageBeforeJS
        </pre>
        </div>
    </div>

    <h2>After executing JavaScript</h2>
    <div class="row">
        <div class="cold-md-6">
        <pre class="pre-scrollable">
@analysis.pageAfterJS
        </pre>
    </div>
</div>
  <!--
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-scala" class="alert-link">Getting Started with Scala/Play on Heroku</a> tutorial.
  </div> -->
  <hr>
    <h2>Network Connections</h2>
    <div class="row">
        <div class="cold-md-6">
            <table class="table table-condensed table-striped">
                <tr>
                    <th>URL</th>
                    <th>Status</th>
                    <th>Path</th>
                    <th>Header</th>
                </tr>
                @for(connection <- analysis.networkConnections){
                @if(connection.getHeader.isDefinedAt("Web-Service") && connection.getHeader("Web-Service").contains("DataFlex")) {
                        <tr class="warning">
                    } else {@if(connection.getPath.contains("DfEngine/df-include.js") || connection.getPath.contains("ElectosFileStreaming.asp")) {
                        <tr class="info">
                    } else {
                        <tr>
                    }}
                    <td>@connection.getUrl</td>
                    <td>@connection.getStatus</td>
                    <td>@connection.getPath</td>
                    <td>
                        <ul>
                        @for(header <-connection.getHeader){
                        <li><strong>@header._1</strong>: @header._2</li>
                        }
                        </ul>
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
  <!--
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/scala-getting-started">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it grabbed all the dependencies in the <a href="https://github.com/heroku/scala-getting-started/blob/master/build.sbt">build.sbt</a>.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
        <li>Check out the <a href="https://devcenter.heroku.com/articles/getting-started-with-scala">Getting Started</a> guide to learn more!</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-scala">Getting Started with Scala/Play on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/deploying-scala">Deploying Scala Apps on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/play-support">Heroku Play Framework Support</a></li>
        <li><a href="https://devcenter.heroku.com/articles/scala-support">Heroku Scala Support</a></li>
      </ul>
    </div>
  </div>-->
  <!-- row -->
</div>

}
